.nav_items {
	display: flex;
	gap: 32px
}

.nav_item a {
	font-family: var(--font-family);
	font-weight: 500;
	line-height: 1.25;
	text-align: center;
	text-decoration-line: none;

	color: var(--font-family);
}

.nav_item:hover {
	color: var(--button-hover);
}

.active {
	color: var(--button-hover);
}