.container {
	display: flex;
	flex-direction: column;

	position: relative;
	flex-basis: calc((100% - 32px * 3) / 4);
}

.container a {
	margin-top: auto;
}

.icon_container {
	position: absolute;
	top: 16;
	right: 16;
	cursor: pointer;
}

.image_container {
	height: 268px;
	border-radius: 14px;
	margin-bottom: 16px;
	overflow: hidden;

	background: linear-gradient(180deg, rgba(18, 20, 23, 0.5) 0%, rgba(18, 20, 23, 0.5) 100%);
}

.image {
	object-fit: cover;
}

.name {
	display: flex;
	justify-content: space-between;

	margin-bottom: 8px;
}

.name h3,
.name p {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
	color: var(--main);
}

.mark_name {
	color: var(--button);
}

.descr {
	display: flex;
	flex-direction: column;

	margin-bottom: 28px;

	font-family: var(--font-family);
	font-size: 12px;
	line-height: 1.33333;
	color: var(--gray);
}

.descr p {
	margin-bottom: 4px;
}

.descr span {
	border-right: 1px solid var(--gray-light);
	padding-right: 6px;
}

.descr span:not(:first-child) {
	padding-left: 5px;
}

.descr p:last-child span:last-child {
	border-right: none;
}

.link {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 276px;
	height: 44px;

	background: var(--button);
	border-radius: 12px;
	padding-block: 12px;
	margin-inline: auto;

	font-family: var(--font-family);
	font-weight: 600;
	text-decoration: none;
	line-height: 1.25;
	color: var(--white);

	cursor: pointer;
}

.link:hover {
	background: var(--button-hover);
}