.header {
	height: 69px;
	padding-block: 24px;
	background: var(--badges);
	border-bottom: 1px solid var(--badges);
}

.header > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 120px;
}

.container {
	max-width: 1440px;
	margin-inline: auto;
}

.logo {
	width: 104px;
	height: 16px;
}