.header {
	padding-block: 24px;
	background: var(--badges);
	border-bottom: 1px solid var(--badges);
}

.header > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 120px;
}

.container {
	max-width: 1440px;
	margin-inline: auto;
}

.logo {
	width: 104px;
	height: 16px;
}

.nav_items {
	display: flex;
	gap: 32px
}

.nav_item a {
	font-family: var(--font-family);
	font-weight: 500;
	line-height: 1.25;
	text-align: center;
	text-decoration-line: none;

	color: var(--font-family);
}

.nav_item:hover {
	color: var(--button-hover);
}