*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--main: #101828;
	--gray: #8d929a;
	--gray-light: #dadde1;
	--badges: #f2f4f7;
	--inputs: #f7f7f7;
	--white: #fff;
	--button: #3470ff;
	--button-hover: #0b44cd;
	--light-blue: #00aad4;
	--bg: #f5f5f5;
	--dark-blue: #0095ba;
}

html {
	scroll-behavior: smooth;
}

img,
picture,
svg {
	display: block;
	max-width: 100%;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

input {
	padding: 0;
}

button {
	cursor: pointer;
}