.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: calc(100vh - 69px);

	background-image: url("/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.text_container {
	margin-bottom: 40px;
}

.text_container h1 {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 60px;
	line-height: 1.2;
	text-align: center;
	color: var(--white);

	margin-bottom: 16px;
}

.text_container p {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 24px;
	line-height: 1.33333;
	text-align: center;
	color: var(--white);
}

.link {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 276px;
	height: 44px;

	background: var(--button);
	border-radius: 12px;
	padding-block: 12px;
	margin-inline: auto;

	font-family: var(--font-family);
	font-weight: 600;
	text-decoration: none;
	line-height: 1.25;
	color: var(--white);

	cursor: pointer;
}

.link:hover {
	background: var(--button-hover);
}