.catalog {
	margin-inline: auto;
	padding-top: 84px;
	padding-bottom: 124px;
}

.container {
	max-width: 1440px;
	padding-inline: 120px;
	margin-inline: auto;
}

.cards_container {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;

	margin-bottom: 80px;
}

.alert {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
	color: var(--gray);
}

.loadmore {
	width: max-content;
	margin-inline: auto;
}