.form {
	width: 576px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.input {
	height: 48px;
	border: none;
	border-radius: 12px;
	padding-block: 14px;
	padding-inline: 20px;
	margin-bottom: 16px;

	background: var(--inputs);

	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
	color: var(--main);
}

.input:focus {
	outline: none;
}

.input::placeholder,
.textarea::placeholder {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
	color: var(--gray);
}

.scroll_fix {
	border-radius: 12px;
	background: var(--inputs);
	padding-top: 12px;
	padding-right: 8px;
	margin-bottom: 8px;
}

.textarea {
	width: 100%;
	height: 88px;
	padding-inline: 20px 12px;
	border: none;
	resize: none;

	background: var(--inputs);

	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
	color: var(--main);
}

.textarea:focus {
	outline: none;
}

.textarea::-webkit-scrollbar {
	width: 8px;
}

.textarea::-webkit-scrollbar-thumb {
	background: var(--gray-light);
	border-radius: 10px;
}

.form button {
	margin-inline: auto;
}