.select {
	display: flex;
	justify-content: space-between;
	gap: 32px;
	background: var(--inputs);
	border-radius: 12px;
	padding: 12px 16px;
}

.select.first {
	width: 204px;
}

.select.second {
	width: 196px
}

.select p {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
	color: var(--main);
}

.scroll_fix {
	max-width: 204px;
	border-radius: 12px;	
	margin-top: 4px;
	padding-top: 12px;
	padding-right: 8px;

	background: var(--white);
	box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
}

.menu {
	display: flex;
	flex-direction: column;
	gap: 8px;

	padding-top: 2px;
	padding-right: 10px;
	padding-left: 18px;
	padding-bottom: 14px;
	max-height: 272px;
	overflow-y: auto;

	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
	color: var(--gray);
}

.menu::-webkit-scrollbar {
	width: 8px;
}

.menu::-webkit-scrollbar-thumb {
	background: var(--gray-light);
	border-radius: 10px;
}

.select, .menu li {
	cursor: pointer;
}

li.choise_made {
	color: var(--main);
}