.link {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

	background: var(--button);
	/* border: none; */
	border-radius: 12px;
	padding-block: 12px;
	margin-inline: auto;

	font-family: var(--font-family);
	font-weight: 600;
	text-decoration: none;
	line-height: 1.25;
	color: var(--white);

	cursor: pointer;
}

.link:hover {
	background: var(--button-hover);
}

.link_large {
	width: 276px;
	height: 44px;
}

.link_small {
	width: 156px;
	height: 44px;
}